div.page-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    background-color: #e8f5e9;
    top: -32px;
    position: relative;
    @include padding("top", $blag-padding--large);

    @include breakpoint($bp-s) {
        box-sizing: content-box;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }

    @include breakpoint($bp-m-l) {
        padding-left: 5vw;
        padding-right: 5vw;
        width: calc(100% - 10vw);
    }

    @media (max-width: 47.9375em) {
        padding-left: 0;
        padding-right: 0;
        width: calc(100% - 36px);
    }

    > section {
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}