// Main color scheme:
$color-primary: #4caf50;
$color-primary-light: #80e27e;
$color-primary-dark: #087f23;
$color-secondary: #ef5350;
$color-secondary-light: #ff867a;
$color-secondary-dark: #b61825;
$color-tertiary: #3d3d3d;
$color-tertiary-dark: #0f0f0f;
$color-tertiary-light: #f0f0f0;

// Status colors:
$color-focus: #3fa7ff;
$color-error: #e41b65;
$color-warning: #ff5722;
