$bp-l: 80em;
$bp-m-l: 64em;
$bp-m: 48em;
$bp-m-s: 37.5em;
$bp-s: 37.5em;
$bp-bleed: 47.9375em;

@mixin breakpoint($view) {
    @if $view == $bp-l {
        @media (min-width: 80em) {
            @content ;
        }
    } @else if $view == $bp-m-l {
        @media (min-width: 64em) {
            @content ;
        }
    } @else if $view == $bp-m {
        @media (min-width: 48em) {
            @content ;
        }
    } @else if $view == $bp-m-s {
        @media (min-width: 37.5em) {
            @content ;
        }
    } @else if $view == $bp-s {
        @media (max-width: 37.5em) {
            @content ;
        }
    } @else if $view == $bp-bleed {
        @media (max-width: $bp-bleed) {
            @content ;
        }
    }
}