.blag-menu {
    header {
        background: $color-tertiary-dark;
    }

    // Styling navigation links:
    nav {
        @include padding("horizontal", 2rem);
        > a {
            color: #ffffff;
            border-bottom: 1.5px solid $color-primary;
            text-decoration: none;
            transition: all .4s ease-in-out;
            font-size: 18px;
            &:hover {
                border-bottom: 1.5px solid $color-secondary;
            }
        }
    }
}