.blag-menu {
  header {
    background: $black;
  }

  // Styling navigation links:
  nav {
    @include padding("horizontal", 2rem);
    > a {
      color: $white;
      border-bottom: 1.5px solid $blag-main;
      text-decoration: none;
      transition: all .4s ease-in-out;
      font-size: 18px;
      &:hover {
        border-bottom: 1.5px solid $blag-secondary;
      }
    }
  }
}