$blag-main: #43A047;
$blag-main--light: #81C784;
$blag-main--lightest: #E8F5E9;
$blag-secondary: #FFEB3B;
$blag-secondary--light: #FFF59D;
$blag-secondary--lightest: #FFFDE7;
$white: #FFFFFF;
$black: #000000;
$main-text: #212121;