// BOTTOM
.margin-bottom--small {
  margin-bottom: $blag-margin--small;
}

.margin-bottom--medium {
  margin-bottom: $blag-margin--medium;
}

.margin-bottom--large {
  margin-bottom: $blag-margin--large;
}

// TOP
.margin-top--small {
  margin-top: $blag-margin--small;
}

.margin-top--medium {
  margin-top: $blag-margin--medium;
}

.margin-top--large {
  margin-top: $blag-margin--large;
}

// LEFT
.margin-left--small {
  margin-left: $blag-margin--small;
}

.margin-left--medium {
  margin-left: $blag-margin--medium;
}

.margin-left--large {
  margin-left: $blag-margin--large;
}

// RIGHT
.margin-right--small {
  margin-right: $blag-margin--small;
}

.margin-right--medium {
  margin-right: $blag-margin--medium;
}

.margin-right--large {
  margin-right: $blag-margin--large;
}

// AROUND
.margin-around--small {
  margin: $blag-margin--small;
}

.margin-around--medium {
  margin: $blag-margin--medium;
}

.margin-around--large {
  margin: $blag-margin--large;
}

// VERTICAL
.margin-vertical--small {
  margin-bottom: $blag-margin--small;
  margin-top: $blag-margin--small;
}

.margin-vertical--medium {
  margin-bottom: $blag-margin--medium;
  margin-top: $blag-margin--medium;
}

.margin-vertical--large {
  margin-bottom: $blag-margin--large;
  margin-top: $blag-margin--large;
}

// HORIZONTAL
.margin-horizontal--small {
  margin-left: $blag-margin--small;
  margin-right: $blag-margin--small;
}

.margin-horizontal--medium {
  margin-left: $blag-margin--medium;
  margin-right: $blag-margin--medium;
}

.margin-horizontal--large {
  margin-left: $blag-margin--large;
  margin-right: $blag-margin--large;
}