// BOTTOM
.padding-bottom--small {
  padding-bottom: $blag-padding--small;
}

.padding-bottom--medium {
  padding-bottom: $blag-padding--medium;
}

.padding-bottom--large {
  padding-bottom: $blag-padding--large;
}

// TOP
.padding-top--small {
  padding-top: $blag-padding--small;
}

.padding-top--medium {
  padding-top: $blag-padding--medium;
}

.padding-top--large {
  padding-top: $blag-padding--large;
}

// LEFT
.padding-left--small {
  padding-left: $blag-padding--small;
}

.padding-left--medium {
  padding-left: $blag-padding--medium;
}

.padding-left--large {
  padding-left: $blag-padding--large;
}

// RIGHT
.padding-right--small {
  padding-right: $blag-padding--small;
}

.padding-right--medium {
  padding-right: $blag-padding--medium;
}

.padding-right--large {
  padding-right: $blag-padding--large;
}

// AROUND
.padding-around--small {
  padding: $blag-padding--small;
}

.padding-around--medium {
  padding: $blag-padding--medium;
}

.padding-around--large {
  padding: $blag-padding--large;
}

// VERTICAL
.padding-vertical--small {
  padding-bottom: $blag-padding--small;
  padding-top: $blag-padding--small;
}

.padding-vertical--medium {
  padding-bottom: $blag-padding--medium;
  padding-top: $blag-padding--medium;
}

.padding-vertical--large {
  padding-bottom: $blag-padding--large;
  padding-top: $blag-padding--large;
}

// HORIZONTAL
.padding-horizontal--small {
  padding-left: $blag-padding--small;
  padding-right: $blag-padding--small;
}

.padding-horizontal--medium {
  padding-left: $blag-padding--medium;
  padding-right: $blag-padding--medium;
}

.padding-horizontal--large {
  padding-left: $blag-padding--large;
  padding-right: $blag-padding--large;
}